extends ../_layouts/base-landing

include ../_modules/button/button

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.landing
        section.landing__hero
            .landing__hero__ornaments
                img._left-big(src="/images/circle-left-purple.svg")
                img._left-small(src="/images/circle-right-small.svg")
                img._right(src="/images/circles-left-big.svg")
            .container
                .row
                    .col-24
                        .landing__hero__illustrations
                            img._student(src="/images/illustration-left.svg")
                            img._doctor(src="/images/illustration-right.svg")

                        .landing__hero__content
                            h1.landing__hero__title ¡Únete ya a VetBag!
                            h2.landing__hero__subtitle La tienda online de los veterinarios
                            p.landing__hero__text Genera tu propia página de ventas de productos online accediendo a un amplio portafolio que podrás recomendar a tus clientes.
                            +button('link', '¡Quiero Unirme!', '#')

        section.landing__video
            .container
                .row
                    .col-24.col-sm-16.offset-sm-4
                        .landing__video__wrapper
                            iframe(src="https://www.youtube.com/embed/Se5bTIt_RyQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

        section.landing__signup
            .landing__signup__ornaments
                img._left-big(src="/images/circles-left-big.svg")
                img._left-small(src="/images/circle-right-small.svg")
                img._right-big(src="/images/circle-right-big.svg")
                img._right-small(src="/images/circle-right-small.svg")
            .landing__signup__form
                .container
                    .row
                        .col-24.col-sm-12.offset-sm-6
                            h2.landing__signup__title Quiero unirme
                            .vb-form
                                .landing__signup__section
                                    h3.landing__signup__subtitle Datos personales
                                    .row
                                        .col-24
                                            .vb-form__group
                                                input.vb-form__input(type="text", placeholder="Nombre *")
                                                label.vb-form__label Nombre
                                        .col-24.col-sm-12
                                            .vb-form__group
                                                input.vb-form__input(type="text", placeholder="Apellido paterno *")
                                                label.vb-form__label Apellido paterno
                                        .col-24.col-sm-12
                                            .vb-form__group
                                                input.vb-form__input(type="text", placeholder="Apellido materno (opcional)")
                                                label.vb-form__label Apellido materno
                                        .col-24.col-sm-12
                                            .vb-form__group
                                                select.vb-form__input.vb-form__input--select
                                                    option(hidden, selected, disabled) Género
                                                    option Masculino
                                                    option Femenino
                                                label.vb-form__label Género
                                        .col-24.col-sm-12
                                            .vb-form__group
                                                input.vb-form__input(type="text", placeholder="RUT (12-039-861-k) *")
                                                label.vb-form__label RUT
                                        .col-24.col-sm-12
                                            .vb-form__group
                                                input.vb-form__input(type="email", placeholder="Email *")
                                                label.vb-form__label Email
                                        .col-24.col-sm-12
                                            .vb-form__group
                                                input.vb-form__input(type="text", placeholder="Teléfono celular")
                                                label.vb-form__label Teléfono celular
                                        .col-24.col-sm-12
                                            .vb-form__group
                                                input.vb-form__input.vb-form__input--date(type="date", placeholder="")
                                                label.vb-form__label Fecha de Nacimiento
                                                p.vb-form__disclaimer * Campos obligatorios
                                
                                .landing__signup__section
                                    h3.landing__signup__subtitle Domicilio
                                    .row
                                        .col-24
                                            .vb-form__group
                                                input.vb-form__input(type="text", placeholder="Dirección")
                                                label.vb-form__label Dirección
                                        .col-24.col-sm-12
                                            .vb-form__group
                                                input.vb-form__input(type="text", placeholder="Región")
                                                label.vb-form__label Región
                                        .col-24.col-sm-12
                                            .vb-form__group
                                                input.vb-form__input(type="text", placeholder="Comuna")
                                                label.vb-form__label Comuna

                                .landing__signup__section
                                    h3.landing__signup__subtitle Educación
                                    .row
                                        .col-24
                                            .vb-form__group
                                                input.vb-form__input(type="text", placeholder="Universidad")
                                                label.vb-form__label Universidad
                                        .col-24.col-sm-12
                                            .vb-form__group
                                                input.vb-form__input.vb-form__input--radio(type="radio", id="vetRadio", name="usertype")
                                                label.vb-form__label.vb-form__label--radio(for="vetRadio")
                                                    | Soy  
                                                    span.vb-form__label-info Médico veterinario

                                        .col-24.col-sm-12
                                            .vb-form__group
                                                input.vb-form__input.vb-form__input--radio(type="radio", id="studentRadio", name="usertype")
                                                label.vb-form__label.vb-form__label--radio(for="studentRadio")
                                                    | Soy  
                                                    span.vb-form__label-info estudiante de medicina veterinaria
                                        
                                        #vet.col-24
                                            .row
                                                .col-24.col-sm-12
                                                    .vb-form__group
                                                        select.vb-form__input.vb-form__input--select
                                                            option(hidden, selected, disabled) Año de Egreso
                                                            option 2018
                                                            option 2017

                                                        label.vb-form__label Año de Egreso
                                                .col-24
                                                    .vb-form__group
                                                        input.vb-form__input.vb-form__input--file(type="file", id="vetFile")
                                                        label.vb-form__label.vb-form__label--file(for="vetFile")
                                                            span.txt Subir título MV o documento de acreditación
                                                            span.btn Carga

                                        #student.col-24
                                            .row
                                                .col-24.col-sm-12
                                                    .vb-form__group
                                                        select.vb-form__input.vb-form__input--select
                                                            option(hidden, selected, disabled) Años cursados
                                                            option 1
                                                            option 2
                                                            option 3
                                                            option 4

                                                        label.vb-form__label Años cursados
                                                .col-24
                                                    .vb-form__group
                                                        input.vb-form__input.vb-form__input--file(type="file", id="studentFile")
                                                        label.vb-form__label.vb-form__label--file(for="studentFile")
                                                            span.txt Subir carnet estudiantil o documento de acreditación
                                                            span.btn Carga
                                        
                                        .col-24
                                            .vb-form__group.vb-form__group--center
                                                input.vb-form__input.vb-form__input--checkbox(type="checkbox", id="terms")
                                                label.vb-form__label.vb-form__label--checkbox(for="terms")
                                                    a(href="#") Aceptar terminos y condiciones
                                            
                                            .vb-form__group.vb-form__group--center
                                                img(src="/images/captcha.png")
                                            
                                            .vb-form__group.vb-form__group--center
                                                +button('submit', 'Enviar')

        section.landing__contacto
            .container  
                .row
                    .col-24.col-sm-14.offset-sm-5
                        h2.landing__contacto__title ¿Tienes preguntas?

                        form.vb-form
                            .vb-form__group
                                input.vb-form__input(type="text" placeholder="Nombre")
                                label.vb-form__label Nombre

                            .vb-form__group
                                input.vb-form__input(type="email" placeholder="Email")
                                label.vb-form__label Email

                            .vb-form__group
                                input.vb-form__input(type="text" placeholder="Telefono")
                                label.vb-form__label Telefono

                            .vb-form__group
                                textarea.vb-form__input.vb-form__input--textarea(placeholder="Mensaje")
                                label.vb-form__label Mensaje

                            .vb-form__group.vb-form__group--center
                                +button('submit', 'Enviar')


