footer.footer
    .container
        .row
            .col-24
                .footer__logo
                    img(src="/images/logo-footer.svg")

        .row.footer__border
            .col-24.col-sm-6
                .row
                    .col-24
                        .footer__title.footer__title--hidden a
                .row
                    .col-24
                        ul.footer__list
                            li.footer__item
                                a(href="mailto:tienda@email.com") tienda@email.com
                            li.footer__item
                                a(href="tel:+56 2 2210 9300") +56 2 2210 9300
                            li.footer__item
                                p   
                                    | Roger de Flor 2921
                                    br
                                    | Las Condes, Chile
            .col-24.col-sm-6
                .row
                    .col-24
                        h2.footer__title Atención al cliente
                .row
                    .col-24
                        ul.footer__list
                            li.footer__item
                                a(href="#") Contacta con nosotros
                            li.footer__item
                                a(href="#") Preguntas frecuentes
                            li.footer__item
                                a(href="#") Devoluciones
            .col-24.col-sm-6
                .row
                    .col-24
                        h2.footer__title Conócenos
                .row
                    .col-24
                        ul.footer__list
                            li.footer__item
                                a(href="#") Sobre VetBag
                            li.footer__item
                                a(href="#") Nuestras marcas
                            li.footer__item
                                a(href="#") Nuestos Vendedores
            .col-24.col-sm-6
                .row
                    .col-24
                        h2.footer__title Síguenos
                .row
                    .col-24
                        ul.footer__social
                            li.footer__item
                                a(href="#")
                                    i.fa.fa-facebook-square
                            li.footer__item
                                a(href="#")
                                    i.fa.fa-twitter
                            li.footer__item
                                a(href="#")
                                    i.fa.fa-instagram

        .row
            .col-24
                .footer__copyright © 2018 VetBag - All rights reserved
