extends ../_layouts/base

include ../_modules/button/button
include ../_modules/product-slider/product-slider
include ../_modules/slider/slider
include ../_modules/button/button
include ../_modules/product/product

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.checkout
        section.checkout__carrito
            .container
                .row
                    .col-24
                        .row
                            .col-24.col-sm-18
                                h2.checkout__carrito__title Carrito
                            .col-24.col-sm-18
                                .checkout__carrito__container
                                    .checkout__carrito__container-group
                                        .checkout__carrito__group-wrapper
                                            h3.checkout__carrito__subtitle Producto
                                    .checkout__carrito__container-group
                                        .checkout__carrito__group-wrapper
                                            h3.checkout__carrito__subtitle Cantidad
                                        .checkout__carrito__group-wrapper
                                            h3.checkout__carrito__subtitle Precio
                .row
                    .col-24.col-sm-18
                        .checkout__carrito__product
                            .checkout__carrito__group
                                .checkout__carrito__image
                                    img(src="/images/pack-pedigree.png")
                                p.checkout__carrito__product-description Pedigree Adulto Carne Pollo Y Cereales
                            .checkout__carrito__group
                                .checkout__carrito__group-wrapper
                                    p.checkout__carrito__label Cantidad
                                    input.checkout__carrito__input(type="number" placeholder="1")
                                .checkout__carrito__group-wrapper.checkout__carrito__group-wrapper--align
                                    a.checkout__carrito__link
                                        i.fa.fa-trash
                                .checkout__carrito__group-wrapper
                                    p.checkout__carrito__label Precio
                                    span.checkout__carrito__price $1.129
                        .checkout__carrito__product
                            .checkout__carrito__group
                                .checkout__carrito__image
                                    img(src="/images/pack-pedigree.png")
                                p.checkout__carrito__product-description Pedigree Adulto Carne Pollo Y Cereales
                            .checkout__carrito__group
                                .checkout__carrito__group-wrapper
                                    p.checkout__carrito__label Cantidad
                                    input.checkout__carrito__input(type="number" placeholder="1")
                                .checkout__carrito__group-wrapper.checkout__carrito__group-wrapper--align
                                    a.checkout__carrito__link
                                        i.fa.fa-trash
                                .checkout__carrito__group-wrapper
                                    p.checkout__carrito__label Precio
                                    span.checkout__carrito__price $1.129
                        .checkout__carrito__product
                            .checkout__carrito__group
                                .checkout__carrito__image
                                    img(src="/images/pack-pedigree.png")
                                p.checkout__carrito__product-description Pedigree Adulto Carne Pollo Y Cereales
                            .checkout__carrito__group
                                .checkout__carrito__group-wrapper
                                    p.checkout__carrito__label Cantidad
                                    input.checkout__carrito__input(type="number" placeholder="1")
                                .checkout__carrito__group-wrapper.checkout__carrito__group-wrapper--align
                                    a.checkout__carrito__link
                                        i.fa.fa-trash
                                .checkout__carrito__group-wrapper
                                    p.checkout__carrito__label Precio
                                    span.checkout__carrito__price $1.129
                        .checkout__carrito__product
                            .checkout__carrito__group
                                .checkout__carrito__image
                                    img(src="/images/pack-pedigree.png")
                                p.checkout__carrito__product-description Pedigree Adulto Carne Pollo Y Cereales
                            .checkout__carrito__group
                                .checkout__carrito__group-wrapper
                                    p.checkout__carrito__label Cantidad
                                    input.checkout__carrito__input(type="number" placeholder="1")
                                .checkout__carrito__group-wrapper.checkout__carrito__group-wrapper--align
                                    a.checkout__carrito__link
                                        i.fa.fa-trash
                                .checkout__carrito__group-wrapper
                                    p.checkout__carrito__label Precio
                                    span.checkout__carrito__price $1.129
                    .col-24.col-sm-6
                        .checkout__carrito__payment-container
                            .checkout__carrito__payment-wrapper
                                p.checkout__carrito__payment-text Subtotal
                                span.checkout__carrito__payment-number $1.129
                            .checkout__carrito__payment-wrapper
                                p.checkout__carrito__payment-text Envío
                                +button('link', 'Calcular', '#', '', '', 'ghost')
                        .checkout__carrito__payment-container.checkout__carrito__payment-container--orange
                            p.checkout__carrito__payment-text.checkout__carrito__payment-text--white Total
                            span.checkout__carrito__payment-number.checkout__carrito__payment-number--white $1.129
                        .checkout__carrito__payment-button
                            +button('link', 'Finalizar compra', '/checkout-thanks')
                        .checkout__carrito__payment-button.checkout__carrito__payment-button--hollow
                            +button('link', 'Seguir comprando', '#', '', '', 'ghost')

        section.checkout__related
            .container
                .row
                    .col-24
                        h2.checkout__related__title Productos relacionados
                        +product-slider
