mixin category-module()
    .row
        .col-24.col-sm-12
            +category("perros", "Alimento para perros", "/images/pack-pedigree.png", categoryButton)
        .col-24.col-sm-12
            +category("gatos", "Alimento para gatos", "/images/pack-gatos.png", categoryButton)
        .col-24.col-sm-12
            +category("perros", "Collares para perros", "/images/collar-perros.png", categoryButton)
        .col-24.col-sm-12
            +category("roedores", "Casas para roedores", "/images/casa-roedores.png", categoryButton)