extends ../_layouts/base

include ../_modules/cuenta-heading/cuenta-heading
include ../_modules/button/button

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.cuenta-cliente.cuenta-cliente--mensaje-respuesta
        +cuenta-heading
        
        section.cuenta-cliente--mensaje-respuesta__bandeja
            .container
                .row
                    .col-24.col-md-6
                        .row
                            .col-24
                                .cuenta-cliente--mensaje-respuesta__button
                                    +button('link', 'Nuevo mensaje', '#')
                                h4.cuenta-cliente--mensaje-respuesta__subtitle Mis Mensajes
                                ul.cuenta-cliente--mensaje-respuesta__list
                                    li.cuenta-cliente--mensaje-respuesta__item(data-target="bandeja") Bandeja de entrada
                                    li.cuenta-cliente--mensaje-respuesta__item(data-target="enviados") Enviados
                                    li.cuenta-cliente--mensaje-respuesta__item(data-target="recibidos") Recibidos
                    .col-24.col-md-18
                        .row
                            .col-24
                                .cuenta-cliente--mensaje-respuesta__global-wrapper(data-content='bandeja')
                                    .cuenta-cliente--mensaje-respuesta__container
                                        h3.cuenta-cliente--pedido-entregado__title Bandeja de entrada
                                    .cuenta-cliente--mensaje-respuesta__wrapper
                                        h2.cuenta-cliente--mensaje-respuesta__title Consulta alimento balanceado
                                        .cuenta-cliente--mensaje-respuesta__group
                                            p.cuenta-cliente--mensaje-respuesta__sender De: Alejandro Gómez
                                            p.cuenta-cliente--mensaje-respuesta__date 20/12/2018 18:52
                                        p.cuenta-cliente--mensaje-respuesta__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        p.cuenta-cliente--mensaje-respuesta__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                        textarea.cuenta-cliente--mensaje-respuesta__textarea
                                        .cuenta-cliente--mensaje-respuesta__icon-group
                                            i.fa.fa-image
                                            i.fa.fa-paperclip
                                            i.fa.fa-link
                                            i.fa.fa-map-marker
                                            i.fa.fa-smile-o
                                        .cuenta-cliente--mensaje-respuesta__button-group
                                            +button('link', 'Enviar', '#')
                                            +button('link', 'Eliminar', '#', '', '', 'ghost')
                                            +button('link', 'Archivar', '#', '', '', 'ghost')
