header.header
    .container
        .row
            .col-24
                .header__wrapper.header__wrapper--top
                    .header__logo
                        a(href="/")
                            img(src="/images/logo.svg")
                    .header__search
                        form.header__search__form
                            input.header__search__input(type="text", placeholder="Buscar...")
                            button.header__search__button
                                i.fa.fa-search
                    .header__actions
                        .header__search-toggle
                            i.fa.fa-search
                            i.fa.fa-times
                        .header__login
                            .header__login__button
                                .header__actions__icon
                                    img(src="/images/icon-user.svg")
                                span.header__actions__text Mi Cuenta
                                span.header__login__button-chevron
                            .header__login__dropdown
                                ul
                                    li.header__login__dropdown-item
                                        a.header__login__dropdown-item__link(href="#")
                                            .header__login__dropdown-item__icon
                                                img(src="/images/icon-tasks.svg")
                                            span.header__login__dropdown-item__name Mis Datos
                                    li.header__login__dropdown-item
                                        a.header__login__dropdown-item__link(href="#")
                                            .header__login__dropdown-item__icon
                                                img(src="/images/icon-bag.svg")
                                            span.header__login__dropdown-item__name Mis Ordenes
                                    li.header__login__dropdown-item
                                        a.header__login__dropdown-item__link(href="#")
                                            .header__login__dropdown-item__icon
                                                img(src="/images/icon-comments.svg")
                                            span.header__login__dropdown-item__name Mensajes
                                    li.header__login__dropdown-item
                                        a.header__login__dropdown-item__link(href="#")
                                            .header__login__dropdown-item__icon
                                                img(src="/images/icon-logout.svg")
                                            span.header__login__dropdown-item__name Salir
                        
                        a.header__shop-cart(href="#")
                            .header__actions__icon
                                img(src="/images/icon-cart.svg")
                                span 4
                            span.header__actions__text Mi Carrito

                        .header__hamburguer
                            span
                            span
                            span
                                
        .row
            .col-24
                .header__wrapper.header__wrapper--bottom
                    nav.header__nav
                        ul.header__nav__list
                            li.header__nav__item
                                a.header__nav__link(href="#") perros
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Alimento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Farmacia
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Accesorios
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Antiparasitarios
                            li.header__nav__item
                                a.header__nav__link(href="#") gatos
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Alimento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Farmacia
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Accesorios
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Antiparasitarios
                            li.header__nav__item
                                a.header__nav__link(href="#") peces 
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Alimento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Farmacia
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Accesorios
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Antiparasitarios
                            li.header__nav__item
                                a.header__nav__link(href="#") pajaros            
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Alimento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Farmacia
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Accesorios
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Antiparasitarios
                            li.header__nav__item
                                a.header__nav__link(href="#") roedores            
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Alimento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Farmacia
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Accesorios
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Antiparasitarios
                            li.header__nav__item
                                a.header__nav__link(href="#") reptiles          
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Alimento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Farmacia
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Accesorios
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Antiparasitarios
                            li.header__nav__item
                                a.header__nav__link(href="#") otros
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Alimento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Farmacia
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Accesorios
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="/categoria-productos") Antiparasitarios
                        ul.header__nav__list
                            li.header__nav__item
                                a.header__nav__link.header__nav__link--vendedores(href="/vendedores")  vendedores
                                           
