header.header
    .container
        .row
            .col-24
                .header__wrapper.header__wrapper--top
                    .header__logo
                        img(src="/images/logo.svg")
                    .header__search
                        form.header__form
                            input.header__input(type="text", placeholder="Buscar...")
                            button.header__button
                                i.fa.fa-search
                    .header__group
                        .header__group__login
                            .header__group-image
                                img(src="/images/icon-user.svg")
                            p.header__menu Mi Cuenta
                            span.header__dropdown-button
                            ul.header__dropdown
                                li.header__item
                                    a(href="#")
                                        .header__item-icon
                                            img(src="#")
                                        p.header__item-name Mis Datos
                                li.header__item
                                    a(href="#")
                                        .header__item-icon
                                            img(src="#")
                                        p.header__item-name Mis Ordenes
                                li.header__item
                                    a(href="#")
                                        .header__item-icon
                                            img(src="#")
                                        p.header__item-name Mensajes
                                li.header__item
                                    a(href="#")
                                        .header__item-icon
                                            img(src="#")
                                        p.header__item-name Salir
                        .header__group__shop-cart
                            a(href="#")
                                .header__group-image
                                    img(src="/images/icon-cart.svg")
                                    span 4
                                .header__menu Mi Carrito 
                                
        .row
            .col-24
                .header__wrapper.header__wrapper--bottom
                    nav.header__nav
                        ul.header__nav__list
                            li.header__nav__item
                                a.header__nav__button(href="#") perros
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="#") Alimento
                                    li.header__nav__subitem
                                        a(href="#") Farmacia
                                    li.header__nav__subitem
                                        a(href="#") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="#") Accesorios
                                    li.header__nav__subitem
                                        a(href="#") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="#") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="#") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="#") Antiparasitarios
                            li.header__nav__item
                                a.header__nav__button(href="#") gatos
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="#") Alimento
                                    li.header__nav__subitem
                                        a(href="#") Farmacia
                                    li.header__nav__subitem
                                        a(href="#") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="#") Accesorios
                                    li.header__nav__subitem
                                        a(href="#") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="#") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="#") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="#") Antiparasitarios
                            li.header__nav__item
                                a.header__nav__button(href="#") peces 
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="#") Alimento
                                    li.header__nav__subitem
                                        a(href="#") Farmacia
                                    li.header__nav__subitem
                                        a(href="#") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="#") Accesorios
                                    li.header__nav__subitem
                                        a(href="#") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="#") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="#") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="#") Antiparasitarios
                            li.header__nav__item
                                a.header__nav__button(href="#") pajaros            
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="#") Alimento
                                    li.header__nav__subitem
                                        a(href="#") Farmacia
                                    li.header__nav__subitem
                                        a(href="#") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="#") Accesorios
                                    li.header__nav__subitem
                                        a(href="#") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="#") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="#") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="#") Antiparasitarios
                            li.header__nav__item
                                a.header__nav__button(href="#") roedores            
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="#") Alimento
                                    li.header__nav__subitem
                                        a(href="#") Farmacia
                                    li.header__nav__subitem
                                        a(href="#") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="#") Accesorios
                                    li.header__nav__subitem
                                        a(href="#") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="#") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="#") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="#") Antiparasitarios
                            li.header__nav__item
                                a.header__nav__button(href="#") reptiles          
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="#") Alimento
                                    li.header__nav__subitem
                                        a(href="#") Farmacia
                                    li.header__nav__subitem
                                        a(href="#") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="#") Accesorios
                                    li.header__nav__subitem
                                        a(href="#") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="#") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="#") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="#") Antiparasitarios
                            li.header__nav__item
                                a.header__nav__button(href="#") otros
                                ul.header__nav__sublist
                                    li.header__nav__subitem
                                        a(href="#") Alimento
                                    li.header__nav__subitem
                                        a(href="#") Farmacia
                                    li.header__nav__subitem
                                        a(href="#") Entrenamiento
                                    li.header__nav__subitem
                                        a(href="#") Accesorios
                                    li.header__nav__subitem
                                        a(href="#") Snacks y huesos
                                    li.header__nav__subitem
                                        a(href="#") Peluquería e higiene
                                    li.header__nav__subitem
                                        a(href="#") Transporte y viaje
                                    li.header__nav__subitem
                                        a(href="#") Antiparasitarios

                    a.header__vendedores(href="#")  vendedores
                                           
