include ../button/button

header.header.header--landing
    .container
        .row
            .col-24
                .header__wrapper.header__wrapper--top
                    .header__logo
                        img(src="/images/logo.svg")
                    .header__actions
                        +button('link', 'Contáctenos', '#', '', '', 'ghost')
                        +button('link', '¡Quiero Unirme!', '#')
                                           
