.product {
    padding: 20px 10px;
    background: $white;
    border: 2px solid $lightGray;
    width: 100%;
    outline: none;
    position: relative;
    min-height: 90vh;
    margin-bottom: 20px;

    @include mq(sm) {
        min-height: 62vh;
    }

    &--left {
        display: flex;
        padding: 20px;
        margin-bottom: 20px;
        min-height: auto;

        @include mq(sm) {
            height: 20vw;
            width: 49%;
        }
    }

    &__image {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        height: 40vh;

        @include mq(sm) {
            height: 15vw;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            height: 100%;
            width: auto;
        }

        &--left {
            width: 50%;
            height: auto;

            @include mq(sm) {
                height: 100%;
            }

            img {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate3d(0, -50%, 0);
                height: auto;
                width: 80%;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    &__title {
        color: $black;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;

        @include mq(sm) {
            font-size: 20px;
        }
    }

    &__description {
        &--image-left {
            margin: 0;
            font-weight: 700;
            color: $purple;
            text-transform: uppercase;
            font-size: 18px;

            @include mq(sm) {
                font-size: 32px;
            }
        }
    }

    &__content {
        margin-bottom: 20px;
    }

    &__price {
        color: $purple;
        font-size: 20px;
        font-weight: 700;
    }

    &__size {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5px;
        // height: 20vh;

        @include mq(sm) {
            height: auto;
        }
    }

    &__button {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;

        &--image-left {
            display: inline-block;
            position: relative;
            margin-left: 0;
            margin-right: 0;

            .button {
                &__link  {
                    text-align: center;
                    padding: 20px;
                    margin-top: 20px;

                    @include mq(sm) {
                        width: 60%;
                    }
                }
            }
        }
    }
}
