.button {
    &__label {
        display: block;
        background: $purple;
        color: $white;
        border-radius: 5px;
        opacity: 0.3;
        cursor: pointer;
        margin: 0 3px 10px 3px;
        padding: 10px 15px;
        min-width: 70px;

        @include mq(sm) {
        }
    }

    &__input {
        position: absolute;
        left: -9999px;
    }

    [type="radio"]:checked + label {
        opacity: 1;
    }

    &__link {
        display: inline-block;
        color: $white;
        background: $orange;
        padding: 15px 20px;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 700;
    }
}
