mixin cuenta-heading(spec)
    .container
        .row
            .col-24
                .cuenta-heading
                    .cuenta-heading__image
                        img(src="/images/illustration-user.svg")
                    .cuenta-heading__title 
                        h2 Mi Cuenta
