extends _layouts/base

include ./_modules/slider/slider
include ./_modules/product/product
include ./_modules/button/button
include ./_modules/category-module/category-module
include ./_modules/product-slider/product-slider

block content
    main.home
        section.home__hero
            .container
                .row
                    .col-24.col-md-16
                        +slider('home__hero__slider', 'alt')
                            .home__hero__slide
                                .home__hero__slide-background
                                    img(src="/images/iso-perro-yellow.png")
                                .home__hero__slide-wrapper
                                    .home__hero__slide-info
                                        p.home__hero__slide-info-text
                                            span 10% de descuento
                                            | en productos
                                            img(src="/images/logo-pro-plan.png")
                                    .home__hero__slide-cta
                                        p.home__hero__slide-cta-text Código Promocional
                                        a.home__hero__slide-cta-button(href="#") vetpro10

                            .home__hero__slide
                                .home__hero__slide-background
                                    img(src="/images/iso-perro-yellow.png")
                                .home__hero__slide-wrapper
                                    .home__hero__slide-info
                                        p.home__hero__slide-info-text
                                            span 15% de descuento
                                            | en productos
                                            img(src="/images/logo-pro-plan.png")
                                    .home__hero__slide-cta
                                        p.home__hero__slide-cta-text Código Promocional
                                        a.home__hero__slide-cta-button(href="#") vetpro15
                                        
                    .col-24.col-md-8
                        .row
                            .col-24.col-sm-12.col-md-24
                                .home__hero__banner
                                    .home__hero__banner-image
                                        img(src="/images/banner-top.png")
                                    .home__hero__banner-stamp Novedad
                                    .home__hero__banner-content.home__hero__banner-content--right
                                        p._desc
                                            span Cama térmica
                                            | para perro/gato
                                        p._price $2.200

                            .col-24.col-sm-12.col-md-24 
                                .home__hero__banner
                                    .home__hero__banner-image
                                        img(src="/images/banner-bottom.png")
                                    .home__hero__banner-content
                                        p._desc Royal Canin Mini Adulto - 1 Kg
                                        p._price._price--old $236,00
                                        p._price._price--new $196,67

        
        section.home__brands
            .container
                .row
                    .col-24
                        +slider('home__brands__slider border', 'fourSlides')
                            .home__brands__slide
                                .home__brands__image
                                    img(src="/images/logo-pedigree.png")
                            .home__brands__slide
                                .home__brands__image
                                    img(src="/images/logo-royal-canin.png")
                            .home__brands__slide
                                .home__brands__image
                                    img(src="/images/logo-eukanuba.png")
                            .home__brands__slide
                                .home__brands__image
                                    img(src="/images/logo-pro-plan-slider.png")
                            .home__brands__slide
                                .home__brands__image
                                    img(src="/images/logo-dogui.png")

        section.home__top-sales
            .container
                .row
                    .col-24
                        h2.home__top-sales__title Más vendidos
                        +product-slider
                        
        +category-module

        section.home__politicas
            .container
                .row
                    .col-24.col-sm-12.offset-sm-2
                        h3.home__politicas__title Políticas de envío
                        .home__politicas__wrapper
                            p.home__politicas__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            p.home__politicas__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                    .col-24.col-sm-8  
                        .home__politicas__image
                            img(src="/images/illustration-package.svg")
            
        section.home__contact   
            .container  
                .row
                    .col-24.col-sm-14.offset-sm-5
                        h2.home__contact__title ¿Tienes preguntas?
                        form.home__contact__form
                            input.home__contact__input(type="text" placeholder="Nombre")
                            input.home__contact__input(type="email" placeholder="Email")
                            input.home__contact__input(type="number" placeholder="Telefono")
                            textarea.home__contact__input.home__contact__input--textarea(placeholder="Mensaje")
                            .home__contact__button
                                +button('link', 'Enviar', '#', '')
